{% extends 'base.html.twig' %}
{% block title %}PCBuilder Xtreme{% endblock %}
{% block stylesheets %}
<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/_hamburger.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
<link href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<header class="header">
    {{ include('PCBuildMainBundle:Layout:_hamburger.html.twig') }}
    <h1 class="logo">
        PCBuilder Xtreme
    </h1>
    <ul class="navi">
        {% block login %}
            {{ include('PCBuildMainBundle:Layout:_login_form.html.twig') }}
        {% endblock %}
    </ul>
</header>
<div class="main-content">
    {% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
    {% endfor %}
    {% block bodycontent %}{% endblock %}
</div>
<div class="footer">
    <p class="footer-text">
        Made with
        <span class="heart">
            <3
        </span>
        <a href="https://knpuniversity.com">
            KnpUniversity
        </a>
    </p>
</div>
{% endblock %}
{% block javascripts %}
<script src="//code.jquery.com/jquery-2.1.4.min.js">
</script>
<script src="{{ asset('js/main.js') }}">
</script>
{% endblock %}
