{% extends 'base.html.twig' %}
{% block title %}PCBuilder Xtreme{% endblock %}
{% block stylesheets %}
<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/_hamburger.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/_switch.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
<link href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}">
</script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}">
</script>
{% endblock %}
{% block body %}
<header class="header">
    {{ include('PCBuildMainBundle:Base:_hamburger.html.twig') }}
    <a class="logo" href="{{ path('index') }}">
        PCBuilder Xtreme
    </a>
    <!-- <div class="entity-toggle">
        <h2 class="entity-text-selected" id="txtbuilds" style="float: left;">
            Builds
        </h2>
        <label class="switch">
            <input id="entityselector" type="checkbox">
                <span class="slider round">
                </span>
            </input>
        </label>
        <h2 class="entity-text-notselected" id="txtcomponents" style="float: right;">
            Components
        </h2>
    </div> -->
    <ul class="navi">
        {% block login %}
            {{ include('PCBuildMainBundle:Base:_login_form.html.twig') }}
        {% endblock %}
    </ul>
</header>
<div class="main-content">
    {% for msg in app.session.flashBag.get('failure') %}
    <div class="alert alert-danger">
        {{ msg }}
    </div>
    {% endfor %}
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}

    {% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
    {% endfor %}
    {% block bodycontent %}{% endblock %}
</div>
<div class="footer">
    <p class="footer-text">
        Made with
        <span class="heart">
            <3
        </span>
        <a href="https://knpuniversity.com">
            KnpUniversity
        </a>
    </p>
</div>
{% endblock %}
{% block javascripts %}
<script src="//code.jquery.com/jquery-2.1.4.min.js">
</script>
<script src="{{ asset('js/main.js') }}">
</script>
{% endblock %}
