<div class="loginregisterform">
    {% if is_granted('ROLE_USER') %}
    <h5 class="user-text">
        Welcome
        <i>
            {{ app.user.username }}
        </i>
    </h5>
    <form action="{{ path('fos_user_security_logout') }}">
        <input class="btn btn-primary loginregisterbuttons" id="btnLogout" type="submit" value="Logout"/>
    </form>
    {% else %}
    <input class="btn btn-default loginregisterbuttons" id="btnShowLogin" type="submit" value="Login/Register"/>
    <div id="loginRegisterGroup" style="display: none;">
        <div class="loginregisterformpadding" id="hiddenlogin">
            <form action="{{ path('fos_user_security_check') }}" id="frmLogin" method="post">
                <input class="form-control" id="username" name="_username" placeholder="Username" required="required" type="text"/>
                <input class="form-control" id="password" name="_password" placeholder="Password" required="required" type="password"/>
                <input name="_csrf_token" type="hidden" value="{{ fos_csrf_provider.refreshToken('authenticate') }}"/>
                <input class="form-control btn btn-primary" id="_submit" name="_submit" type="submit" value="Log In">
                </input>
                <h5>
                    No account yet?
                    <a href="#" id="loginToRegisterLink">
                        Register here.
                    </a>
                </h5>
            </form>
        </div>
        <div class="loginregisterformpadding" id="hiddenregister" style="display: none;">
            <form action="{{ path('fos_user_registration_register') }}" id="frmRegister" method="post">
                <input class="form-control" placeholder="E-mail" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" type="email"/>
                <input class="form-control" placeholder="Username" id="fos_user_registration_form_username" maxlength="180" name="fos_user_registration_form[username]" pattern=".{2,}" required="required" type="text"/>
                <input class="form-control" placeholder="Password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" type="password"/>
                <input class="form-control" placeholder="password Repeat" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" type="password"/>
                {{ form_widget(login_registration_form._token) }}
                <input class="form-control btn btn-primary" type="submit" value="Register">
                </input>
                <h5>
                    Already an account?
                    <a href="#" id="registerToLoginLink">
                        Log in here.
                    </a>
                </h5>
            </form>
        </div>
    </div>
    {% endif %}
</div>
